
body{
    margin: 0;
    padding: 0;
    
}

.sticky-top{
    display: flex;
    justify-content: space-between;  
    
}
.navbarcontent{
    display: flex;
    justify-content: center;
    
}
h3{
    font-size: 40px;    
    color: #161617;
    font-weight: bolder;
}
.talents{
    color: #E7332B;
}
.section1text{
    margin-top: 150px;
    margin-left: 250px;
}
.section1{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.section1paragraph{
    color: grey;
    font-size: 19px;   
}
.section2text{
    margin-left: 250px;
    margin-top: 50px;
    
}
.section2paragraph{
    font-size: 19px; 
}
.section2box{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-image: url(/images/WWW_Website_World.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    
    
}
.cardbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section3boxcont{
    margin-left: 250px;
}
.section4{
    background-color: rgb(255, 248, 229);
}
h1{
    text-align: center;
}
.card{
    transition: all 1s;
}
.card:hover{
    transform: scale(1.1);
    background-color: #161617;
    color: aliceblue;
}
.cardbox1{
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.cardbox2{
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    background-color: #161617;
    position: relative;
    height: 200px;
    
}
.footerbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerbox2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
